@model CallPlan



<div class="modal fade" id="DeleteCallPlan-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="DeleteCallPlanLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteCallPlanLabel">DELETE CALL PLAN</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Delete" method="post" onsubmit="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Id" />
                        <p>Are you sure you want to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Delete" class="btn btn-danger">
                        @*<button type="button" class="btn btn-primary">Save</button>*@
                        <button type="button" class="btn btn-primary btn-dark" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}