@model CallPlanApp.Models.CallPlan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CallPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            sfgsgfsfgfsgf
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitType" class="control-label"></label>
                <input asp-for="VisitType" class="form-control" />
                <span asp-validation-for="VisitType" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Complete" /> @Html.DisplayNameFor(model => model.Complete)
                </label>
            </div>*@
            <div class="form-group">

                @*<label asp-for="Complete" class="control-label"></label>*@
                @Html.LabelFor(model => model.Complete, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.DropDownListFor(model => model.Complete, new List<SelectListItem>
                {
                new SelectListItem {Text = "Yes", Value = "True", Selected = true },
                new SelectListItem {Text = "No", Value = "False" }
                }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Complete, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
